body, html {
	overflow: hidden;
	margin: 0px;
}

canvas {
	width: 100%;
	height: 100%;
}

#input {
	height: 100%;
}

#popout {
	position: absolute;
	width: 800px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -300px;
}

#container {
	z-index: 100;
	width: 100%;
	display: none;
}

#redFunc {
	background-color: #FFD6E4;
	border-radius: 0 0 0 10px;
}

#greenFunc {
	background-color: #A3FFAB;
}

#blueFunc {
	background-color: #A3C0FF;
	border-radius: 0 0 10px 0;
}

.funcInput {
	float: left;
	margin: 0;
	width: 30%;
	height: 100%;
	margin: 0;
	border: none;
}

textarea {
	padding: 10px;
	overflow: hidden;
	resize: none;
	outline: none;
}

td {
	padding: 0;
}