body, html {
	overflow: hidden;
	margin: 0px;
}

#myCanvas {
	width: 100%;
	height: 100%;
}

#options {
	border-radius: 20px;
	border: solid 2px;
	border-color: #AAAAAA;
	background-color: #FFFFFF;
	z-index: 100;
	position:fixed;
    width:600px;
    height:400px;
    margin:-200px auto auto -300px;
    top:50%;
    left:50%;
    text-align:center;
	display: none;
}

#blinds {
	text-align: center;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #000000;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0.5;
	z-index: 50;
	display: none;
}

#edit {
	margin: 0px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #AFAFAF;
	border-top-color: #5F5F5F;
	border-left-color: #5F5F5F;
	border-right: none;
	border-bottom: none;
	width: 100px;
	height: 25px;
	border-radius: 10px 0px 0px 0px;
}

#edit:active {
	background-color: #5F5F5F;
}
