body, html {
	overflow: hidden;
	margin: 0px;
}

#myCanvas {
	width: 100%;
	height: 100%;
}

#options {
	z-index: 100;
	position:fixed;
	border: none;
    width:700;
    height:400px;
    margin:-200px auto auto -300px;
    top:50%;
    left:50%;
    text-align:center;
	display: none;
}

#working {
	z-index: 99;
	position:fixed;
	border: none;
    width:100px;
    height:25px;
    margin:-50px auto auto -25px;
    top:50%;
    left:50%;
    text-align:center;
	display: none;
	background-color: #000000;
	color: #FFFFFF;
}

#blinds {
	text-align: center;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #000000;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0.5;
	z-index: 50;
	display: none;
}

.funcInput {
	position: relative;
	height: 33%;
	float: left;
	top: 0px;
	width: 100%;
}

#redFunc {
	background-color: #FFD6E4;
}

#greenFunc {
	background-color: #A3FFAB;
}

#blueFunc {
	background-color: #A3C0FF;
}

textarea {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
}